<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="org.simpro.dao.UserMapper" >
  
  <!-- 获取用户列表信息 -->
  <select id="getUserList" parameterType="java.util.Map" resultType="java.util.Map">
  	SELECT T.id AS id,
			 T.id AS userId,
				T.user_name AS user_name,
			T.user_state AS user_state,
			DATE_FORMAT(T.create_time,'%Y-%m-%d') AS create_time,
			DATE_FORMAT(T.last_login_time,'%Y-%m-%d') AS last_login_time,
			T2.role_name	AS role_name
	FROM system_user T
	LEFT JOIN system_user_role T1 ON T1.userId = T.id
	LEFT JOIN system_role T2 ON T2.id = T1.roleId
	WHERE 1=1
	<if test="user_name != null and user_name !=''">
		AND	T.user_name LIKE CONCAT('%',#{user_name,jdbcType=VARCHAR},'%' ) 
	</if> 
	<if test="user_state != null and user_state !=''">
		AND T.user_state = #{user_state,jdbcType=INTEGER}
	</if> 
	LIMIT #{curNum,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  
  <!-- 获取用户数目 -->
  <select id="getUserListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
  SELECT count(1)
	FROM system_user T
	WHERE 1=1
	<if test="user_name != null and user_name !=''">
		AND	T.user_name LIKE CONCAT('%',#{user_name,jdbcType=VARCHAR},'%' ) 
	</if> 
	<if test="user_state != null and user_state !=''">
		AND T.user_state = #{user_state,jdbcType=INTEGER}
	</if> 
  </select>
  
  <!-- 插入用户信息 -->
  <insert id="insertUserInfo" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
  
  insert into system_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="user_name != null and user_name != ''  " >
        user_name,
      </if>
      <if test="user_password != null and user_password != '' " >
        user_password,
      </if>
      <if test="create_time != null and create_time != '' " >
        create_time,
      </if>
      <if test="update_time != null and update_time !='' " >
        update_time,
      </if>
      <if test="user_state != null" >
        user_state,
      </if> 
      <if test="last_login_time != null and last_login_time !=''" >
        last_login_time,
      </if> 
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="user_name != null and user_name != ''  " >
        #{user_name,jdbcType=VARCHAR},
      </if>
       <if test="user_password != null and user_password != '' " >
        #{user_password,jdbcType=VARCHAR},
      </if>
       <if test="create_time != null and create_time != '' " >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null and update_time != '' " >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
       <if test="user_state != null " >
        #{user_state,jdbcType=INTEGER},
      </if>
       <if test="last_login_time != null and last_login_time !='' " >
        #{last_login_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  
  </insert>
  
  <!-- 通过Id删除用户信息 -->
  <update id="deleteUserInfoById" parameterType="java.util.Map">
		UPDATE system_user
		SET <if test="user_state!=null">
				user_state =  #{user_state,jdbcType=INTEGER},
			</if>
			update_time = #{update_time,jdbcType=TIMESTAMP}
		WHERE id = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 插入用户信息 -->
  <insert id="inserUserRoleMatch" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
  
  insert into system_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null and userId != ''  " >
        userId,
      </if>
      <if test="roleId != null and roleId != '' " >
        roleId,
      </if>
      <if test="create_time != null and create_time != '' " >
        create_time,
      </if> 
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null and userId != ''  " >
        #{userId,jdbcType=INTEGER},
      </if>
       <if test="roleId != null and roleId != '' " >
        #{roleId,jdbcType=INTEGER},
      </if>
       <if test="create_time != null and create_time != '' " >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <!-- 获取用户信息 -->
  <select id="getUserInfo" parameterType="java.lang.Integer" resultType="java.util.Map">
 	SELECT T.id AS id,
			 T.id AS userId,
				T.user_name AS user_name,
			T.user_password AS user_password,
			T.user_state AS user_state,
			DATE_FORMAT(T.create_time,'%Y-%m-%d') AS create_time,
			DATE_FORMAT(T.last_login_time,'%Y-%m-%d') AS last_login_time,
			T2.id AS roleId,
			T2.role_name	AS role_name
	FROM system_user T
	LEFT JOIN system_user_role T1 ON T1.userId = T.id
	LEFT JOIN system_role T2 ON T2.id = T1.roleId
	WHERE T.id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 更新用户信息 -->
  <update id="updateUserInfo" parameterType="java.util.Map">
  	update system_user
    <set >
      <if test="user_name != null" >
        user_name = #{user_name,jdbcType=VARCHAR},
      </if>
      <if test="user_password != null" >
        user_password = #{user_password,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{userId,jdbcType=INTEGER}
  </update>
  
  <!-- 删除用户关联信息 -->
  <delete id="deleteUserRoleMatch" >
    DELETE FROM system_user_role
    where userId = #{userId,jdbcType=INTEGER}
  </delete>
  
  <!-- 获取用户数目 -->
 <select id="getUserCount" parameterType="java.util.Map" resultType="java.lang.Integer">
 SELECT COUNT(1)
 FROM system_user T
 WHERE T.user_name =  #{user_name,jdbcType=VARCHAR}
 </select>
</mapper>  